*{max-width: 1025px;margin: auto;padding: auto;}
body
{
	
	margin: auto;
	font-family: Roboto;
}

table
{
   
   margin: auto;
   max-width: 1027px;
   width: 100%;

   
   }
th
{
	text-transform: uppercase;
	text-align: center;
}
.a
{
	background-color: #ecec8fd4;
	padding: 20px; 
	min-width: 1027px;

}

.a td
 {
 	width: 20%;
 	text-align: center;
 }

.cm img
{
   max-width: 168px;
   margin-top: -6px;

   
}

.cm
{
	max-width: 100%;
	margin-left: -4px;
}

.e
{
	background-color: #e6653d;
	padding: 30px;
	margin-top: 10px;
	
}

.s
{
	padding: 30px;
	background-color: #312f2f;
	
}

.k
{
	min-width: 1027px;
	background-color: black;
	margin-left: -1px;
	color: #fff;
	text-align: center;
	margin-top: -11px;
	padding: 10px;
	font-size: 15px; 

}

.k td
{
	padding: 10px;
}

.l
{
	text-align: center;
	margin-top: -45px;
	background-color: #d7d7d7;
	font-size: 14px;
    text-align: left;

}

.c
{
	padding-left: 40px;
	font-size: 18px;
}

.g
{
	max-width: 150px;
}

.y
{
	max-width: 150px;
}

.f 
{
   width: 100%;
   height: 80px;
   border: 1px solid #afadad;
   padding-top: 3px;
   padding-bottom: 3px;
   margin-top: 8px;
   margin-bottom: 8px;
   margin-left: 6px;
   padding-left: 6px;
}

.z
{
	
	margin-top: -45px;
	background-color: #d7d7d7;
	font-size: 14px;
    text-align: top;

}

.sa
{
	width: 100%;
	height: 40px;
}

.aa
{
	width: 100%;
	height: 150px;
}

.btn
{
	padding: 14px;
	color: #fff;
	background-color: #bb4637;
}

.cc
{
	width: 100%;

}

.xx
{
	width: 105px;
}

.ff
{
	font-size: 13px;
}

.kk
{
	padding: 14px;
	color: #fff;
	background-color: #bb4637;
}