body
{
	
	margin: auto;
	font-family: Roboto;
}

table
{
   
   margin: auto;
   max-width: 1024px;
   width: 100%;

   
   }
th
{
	text-transform: uppercase;
	text-align: center;
}

.a
{
	background-color: #ecec8fd4;
	padding: 20px; 

}
 .a td
 {
 	width: 20%;
 	text-align: center;
 }

.b img
{
	max-width: 1024px;
}

.cm img
{
   max-width: 168px;
   margin-top: -6px;

   
}

.cm
{
	width: 100%;
}

.e
{
	background-color: #e6653d;
	padding: 30px;
	margin-top: 10px;
	width: 100%;
}

.f 
{
   width: 600px;
   height: 80px;
   border: 1px solid #afadad;
   margin-top: 3px;
   margin-bottom: 3px;

}

.g
{
	max-width: 150px;
}

.h
{

}

.s
{
	padding: 30px;
	background-color: #312f2f;
	
}

.k
{
	background-color: black;
	margin: auto;
	color: #fff;
	text-align: center;
	margin-top: -11px;
	padding: 10px;
	font-size: 15px; 

}

.k td
{
	padding: 10px;
}

.j
{
	text-align: center;
	font-size: 18px;
	margin: auto;
	max-width:50%;
	margin-top: 5px;
	padding-bottom: 20px; 
}

.v
{
	padding: 30px;
	
}

.x
{
  padding-top: 20px;
  padding-bottom: 20px;

}